__pycache__/
*.pyc
.env

#Temporarily Remove so Github doesn't flood
backend/hubMP_folder/
backend/routeMP_folder/
backend/hubxairline_folder/
backend/routexairline_folder/
backend/uploads/

