__pycache__/
*.pyc
.env

#Temporarily Remove so Github doesn't flood
backend/hubMP_folder/
backend/routeMP_folder/
backend/hubxairline_folder/
backend/routexairline_folder/
backend/uploads/
backend/specific_fare_distribution_charts/


#virtual environment
venv/
.venv/
env/

#streamlit
.streamlit/

#os files
.DS_Store

#jetbrains and pycharm
.idea/

# MUTE NODE MODULES OMG
node_modules/
